In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("Amazon_electronics.csv")

In [3]:
df

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,NaN,1999,NaN,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,NaN,1999,NaN,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,NaN,1999,NaN,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,NaN,1999,NaN,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,NaN,1999,NaN,0
...,...,...,...,...,...,...,...,...,...,...
1292949,9478,1157628,1.0,2018-09-26,Female,Headphones,Etre Jeune,2017,NaN,0
1292950,9435,1157629,5.0,2018-09-26,Female,Computers & Accessories,NaN,2017,NaN,0
1292951,9305,1157630,3.0,2018-09-26,Female,Computers & Accessories,NaN,2016,NaN,0
1292952,9303,1157631,5.0,2018-09-29,Male,Headphones,NaN,2018,NaN,0
1292953,9478,1157632,1.0,2018-10-01,Female,Headphones,Etre Jeune,2017,Female,0

In [4]:
df.head(5)

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,NaN,1999,NaN,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,NaN,1999,NaN,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,NaN,1999,NaN,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,NaN,1999,NaN,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,NaN,1999,NaN,0

In [5]:
df.tail(5)

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
1292949,9478,1157628,1.0,2018-09-26,Female,Headphones,Etre Jeune,2017,NaN,0
1292950,9435,1157629,5.0,2018-09-26,Female,Computers & Accessories,NaN,2017,NaN,0
1292951,9305,1157630,3.0,2018-09-26,Female,Computers & Accessories,NaN,2016,NaN,0
1292952,9303,1157631,5.0,2018-09-29,Male,Headphones,NaN,2018,NaN,0
1292953,9478,1157632,1.0,2018-10-01,Female,Headphones,Etre Jeune,2017,Female,0

In [6]:
df.shape

(1292954, 10)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292954 entries, 0 to 1292953
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   item_id     1292954 non-null  int64
 1   user_id     1292954 non-null  int64
 2   rating      1292954 non-null  float64
 3   timestamp   1292954 non-null  object
 4   model_attr  1292954 non-null  object
 5   category    1292954 non-null  object
 6   brand       331120 non-null   object
 7   year        1292954 non-null  int64
 8   user_attr   174124 non-null   object
 9   split       1292954 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 98.6+ MB

In [12]:
df["category"].unique()

array(['Portable Audio & Video', 'Computers & Accessories', 'Headphones',
       'Camera & Photo', 'Television & Video', 'Home Audio',
       'Accessories & Supplies', 'Car Electronics & GPS',
       'Security & Surveillance', 'Wearable Technology'], dtype=object)

In [14]:
df.isnull().sum()

item_id             0
user_id             0
rating              0
timestamp           0
model_attr          0
category            0
brand          961834
year                0
user_attr     1118830
split               0
dtype: int64

In [15]:
#------------------------------------------------------------------------------------------------------------------------------

In [16]:
df = pd.read_csv("amazon_products_dataset.csv")

In [17]:
df

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
...,...,...,...,...,...,...,...
1995,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1996,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1997,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1998,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1999,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [18]:
df.head(5)

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0

In [19]:
df.tail(5)

,title,brand,category,actual_price,discount_price,rating,rating_count
1995,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1996,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1997,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1998,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1999,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2000 non-null   object
 1   brand           2000 non-null   object
 2   category        1998 non-null   object
 3   actual_price    1998 non-null   float64
 4   discount_price  1999 non-null   float64
 5   rating          1996 non-null   float64
 6   rating_count    1996 non-null   float64
dtypes: float64(4), object(3)
memory usage: 109.5+ KB

In [22]:
df.shape

(2000, 7)

In [27]:
df["category"].unique()

array(['Laptop', 'Smartwatch', 'Headphones', 'Camera', 'Monitor',
       'Speaker', 'Tablet', 'Smartphone', nan], dtype=object)

In [28]:
df.isnull().sum()

title             0
brand             0
category          2
actual_price      2
discount_price    1
rating            4
rating_count      4
dtype: int64

In [34]:
df["discount_price"] = df["discount_price"].fillna(df["discount_price"].mean())

In [33]:
df["rating"] = df["rating"].fillna(df["rating"].median())

In [35]:
df.isnull().sum()

title             0
brand             0
category          2
actual_price      2
discount_price    0
rating            0
rating_count      4
dtype: int64

In [36]:
df["category"] = df["category"].fillna("unknown")

In [37]:
df

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
...,...,...,...,...,...,...,...
1995,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1996,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1997,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1998,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1999,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [38]:
df.isnull().sum()

title             0
brand             0
category          0
actual_price      2
discount_price    0
rating            0
rating_count      4
dtype: int64

In [40]:
df.duplicated().sum()

0

In [41]:
df.drop_duplicates()

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
...,...,...,...,...,...,...,...
1995,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1996,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1997,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1998,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1999,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [42]:
df

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
...,...,...,...,...,...,...,...
1995,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1996,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1997,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1998,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1999,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2000 non-null   object
 1   brand           2000 non-null   object
 2   category        2000 non-null   object
 3   actual_price    1998 non-null   float64
 4   discount_price  2000 non-null   float64
 5   rating          2000 non-null   float64
 6   rating_count    1996 non-null   float64
dtypes: float64(4), object(3)
memory usage: 109.5+ KB

In [44]:
df = df.apply(pd.to_numeric, errors='ignore')

C:\Users\bojja\AppData\Local\Temp\ipykernel_16912\3283324713.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2000 non-null   object
 1   brand           2000 non-null   object
 2   category        2000 non-null   object
 3   actual_price    1998 non-null   float64
 4   discount_price  2000 non-null   float64
 5   rating          2000 non-null   float64
 6   rating_count    1996 non-null   float64
dtypes: float64(4), object(3)
memory usage: 109.5+ KB

In [47]:
df.reset_index(drop=True)

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
...,...,...,...,...,...,...,...
1995,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1996,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1997,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1998,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1999,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [48]:
df["actual_price"].sort_values(ascending=False).head(5)

1383    79993.0
1974    79869.0
1403    79857.0
1351    79853.0
42      79826.0
Name: actual_price, dtype: float64

In [53]:
x = df.groupby("brand")["category"].count()

In [54]:
x

brand
Apple      190
Boat       214
Dell       177
HP         206
JBL        207
LG         208
Mi         181
OnePlus    204
Samsung    205
Sony       208
Name: category, dtype: int64

In [57]:
x.max()

214

In [58]:
x.idxmax()

'Boat'

In [59]:
df

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
...,...,...,...,...,...,...,...
1995,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1996,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1997,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1998,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1999,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [60]:
df.isnull().sum()

title             0
brand             0
category          0
actual_price      2
discount_price    0
rating            0
rating_count      4
dtype: int64

In [65]:
df = df.dropna()

In [66]:
df

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
...,...,...,...,...,...,...,...
1995,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1996,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1997,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1998,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1999,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [67]:
df.isnull().sum()

title             0
brand             0
category          0
actual_price      0
discount_price    0
rating            0
rating_count      0
dtype: int64

In [70]:
df = df.reset_index(drop=True)

In [71]:
df

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
...,...,...,...,...,...,...,...
1989,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0
1990,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0
1991,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0
1992,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0
1993,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0

In [72]:
df["actual_price"].sort_values(ascending=False).head(5)

1377    79993.0
1968    79869.0
1397    79857.0
1345    79853.0
42      79826.0
Name: actual_price, dtype: float64

In [73]:
x = df.groupby("brand")["category"].count()

In [75]:
x.max()

213

In [76]:
x.idxmax()

'Boat'

In [77]:
y = df.groupby("brand")["discount_price"].mean()

In [78]:
y

brand
Apple      35879.227513
Boat       36304.585915
Dell       37570.078531
HP         38354.180583
JBL        37380.390821
LG         35147.757561
Mi         36542.437569
OnePlus    39090.550490
Samsung    37933.346049
Sony       36940.807246
Name: discount_price, dtype: float64

In [80]:
high_rated_products = df[(df['rating'] >= 4.5) & (df['rating_count'] >= 2000)]
high_rated_products

,title,brand,category,actual_price,discount_price,rating,rating_count
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
32,4K Action Camera,OnePlus,Smartphone,7793.0,5953.0,4.6,5066.0
51,Wireless Bluetooth Headphones,Dell,Headphones,61569.0,59372.0,4.5,13402.0
52,Laptop with SSD Storage,Boat,Smartwatch,76286.0,75621.0,5.0,7433.0
59,Gaming Laptop,Samsung,Tablet,45250.0,44710.0,4.7,4643.0
...,...,...,...,...,...,...,...
1943,Portable Bluetooth Speaker,OnePlus,Tablet,59325.0,55777.0,4.5,19070.0
1964,Android Tablet,Boat,Camera,20841.0,17765.0,4.5,10252.0
1969,Wireless Bluetooth Headphones,Samsung,Smartwatch,31973.0,27058.0,4.5,4288.0
1976,Wireless Bluetooth Headphones,HP,Camera,15343.0,10814.0,4.5,7851.0
1982,Smartphone with AMOLED Display,LG,Tablet,29783.0,25591.0,5.0,13709.0

In [82]:
category_avg_price = df.groupby('category')['actual_price'].mean().sort_values(ascending=False)

In [83]:
category_avg_price

category
Laptop        40786.508403
Camera        40365.992157
Monitor       39950.747212
Tablet        39865.258182
Speaker       39683.795276
Headphones    39576.147679
Smartwatch    38300.609053
Smartphone    37909.529412
unknown       33610.500000
Name: actual_price, dtype: float64

In [94]:
df["discount_percent"] = ((df["actual_price"] - df["discount_price"]) / df["actual_price"]) * 100

In [95]:
discount_percent

0        6.608957
1        4.184451
2        8.988944
3        7.145786
4        8.546644
          ...
1989    16.313173
1990     1.359837
1991    12.660361
1992    11.831162
1993     1.942392
Length: 1994, dtype: float64

In [96]:
df['price_category'] = pd.cut(df['actual_price'],
                              bins=[0, 500, 2000, np.inf],
                              labels=["Budget", "Midrange", "Premium"],
                              right=False)

In [97]:
df

,title,brand,category,actual_price,discount_price,rating,rating_count,price_category,popularity_score,discount_percent
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0,Premium,19.924860,6.608957
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0,Premium,22.795289,4.184451
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0,Premium,14.879318,8.988944
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0,Premium,36.156019,7.145786
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0,Premium,46.858883,8.546644
...,...,...,...,...,...,...,...,...,...,...
1989,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0,Premium,29.052074,16.313173
1990,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0,Premium,9.683601,1.359837
1991,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0,Premium,31.735487,12.660361
1992,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0,Premium,21.687067,11.831162
1993,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0,Premium,22.306336,1.942392

In [98]:
df['popularity_score'] = df['rating'] * np.log(df['rating_count'] + 1)

In [99]:
df

,title,brand,category,actual_price,discount_price,rating,rating_count,price_category,popularity_score,discount_percent
0,Smart Fitness Watch,Dell,Laptop,69890.0,65271.0,2.6,2128.0,Premium,19.924860,6.608957
1,Laptop with SSD Storage,LG,Smartwatch,66771.0,63977.0,2.5,9118.0,Premium,22.795289,4.184451
2,High Resolution Monitor,Mi,Headphones,43598.0,39679.0,1.9,2517.0,Premium,14.879318,8.988944
3,4K Action Camera,HP,Camera,63408.0,58877.0,3.7,17533.0,Premium,36.156019,7.145786
4,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0,Premium,46.858883,8.546644
...,...,...,...,...,...,...,...,...,...,...
1989,Smartphone with AMOLED Display,Dell,Monitor,24140.0,20202.0,3.0,16058.0,Premium,29.052074,16.313173
1990,Smart Fitness Watch,LG,Headphones,65449.0,64559.0,1.1,6655.0,Premium,9.683601,1.359837
1991,4K Action Camera,Dell,Smartphone,21358.0,18654.0,3.7,5308.0,Premium,31.735487,12.660361
1992,Noise Cancelling Earbuds,OnePlus,Smartwatch,35229.0,31061.0,2.2,19105.0,Premium,21.687067,11.831162
1993,Smartphone with AMOLED Display,Boat,Headphones,31662.0,31047.0,3.2,1064.0,Premium,22.306336,1.942392

In [106]:
t = df.sort_values(by='popularity_score', ascending=False).head(10)

In [105]:
t[['category', 'brand', 'popularity_score', 'price_category', 'discount_percent']]

        category    brand  popularity_score price_category  discount_percent
1412      Laptop  OnePlus         49.130602        Premium          2.128500
297       Camera  Samsung         48.928304        Premium          8.183939
501       Camera  Samsung         48.625690        Premium         17.611155
1394  Headphones     Dell         48.388891        Premium         23.746032
872   Smartwatch    Apple         48.248857        Premium         41.073039
1483      Laptop    Apple         48.240292        Premium          6.383861
843   Smartphone       HP         48.157775        Premium         20.686106
849   Smartwatch  Samsung         48.040676        Premium         24.030284
1619      Tablet     Dell         47.848110        Premium         19.040996
634   Headphones     Dell         47.803700        Premium          5.365394

In [111]:
a = df.sort_values(by = "discount_percent",ascending=False)

In [112]:
a

,title,brand,category,actual_price,discount_price,rating,rating_count,price_category,popularity_score,discount_percent
20,4K Action Camera,OnePlus,Headphones,4378.0,103.00000,2.7,6412.0,Premium,23.668423,97.647328
74,High Resolution Monitor,Boat,Monitor,5137.0,440.00000,1.1,3605.0,Premium,9.009390,91.434690
829,4K Action Camera,OnePlus,Monitor,3414.0,298.00000,4.2,8115.0,Premium,37.806689,91.271236
1305,Noise Cancelling Earbuds,Apple,Smartwatch,3791.0,556.00000,4.6,10386.0,Premium,42.542227,85.333685
1828,Wireless Bluetooth Headphones,Boat,Headphones,5377.0,790.00000,1.4,619.0,Premium,9.001607,85.307792
...,...,...,...,...,...,...,...,...,...,...
1530,Noise Cancelling Earbuds,Sony,Monitor,53009.0,52947.00000,2.3,16392.0,Premium,22.320602,0.116961
174,High Resolution Monitor,HP,Smartphone,73673.0,73595.00000,3.9,12071.0,Premium,36.654712,0.105873
685,Smartphone with AMOLED Display,LG,Headphones,68989.0,68918.00000,2.8,6342.0,Premium,24.514300,0.102915
1389,Gaming Laptop,OnePlus,Headphones,79680.0,79628.00000,1.5,18454.0,Premium,14.734636,0.065261
1079,Smartphone with AMOLED Display,Samsung,Monitor,9345.0,37136.04007,1.9,405.0,Premium,11.412071,-297.389407

In [116]:
b = a[(a["price_category"] == "Premium") & (a["discount_percent"] > 40)]

In [117]:
b

,title,brand,category,actual_price,discount_price,rating,rating_count,price_category,popularity_score,discount_percent
20,4K Action Camera,OnePlus,Headphones,4378.0,103.0,2.7,6412.0,Premium,23.668423,97.647328
74,High Resolution Monitor,Boat,Monitor,5137.0,440.0,1.1,3605.0,Premium,9.009390,91.434690
829,4K Action Camera,OnePlus,Monitor,3414.0,298.0,4.2,8115.0,Premium,37.806689,91.271236
1305,Noise Cancelling Earbuds,Apple,Smartwatch,3791.0,556.0,4.6,10386.0,Premium,42.542227,85.333685
1828,Wireless Bluetooth Headphones,Boat,Headphones,5377.0,790.0,1.4,619.0,Premium,9.001607,85.307792
...,...,...,...,...,...,...,...,...,...,...
791,Smart Fitness Watch,LG,Speaker,9496.0,5518.0,3.3,18228.0,Premium,32.375538,41.891323
872,Laptop with SSD Storage,Apple,Smartwatch,4436.0,2614.0,4.9,18895.0,Premium,48.248857,41.073039
683,Portable Bluetooth Speaker,Boat,Tablet,11823.0,6970.0,4.5,3688.0,Premium,36.958998,41.047112
1749,Wireless Bluetooth Headphones,Samsung,Laptop,11737.0,7024.0,3.6,4959.0,Premium,30.632980,40.155065
1273,Smart Fitness Watch,OnePlus,Smartwatch,11632.0,6965.0,1.7,13644.0,Premium,16.185918,40.122077

In [118]:
bluetooth_products = df[df['title'].str.contains('Bluetooth', case=False, na=False)]

In [119]:
bluetooth_products

,title,brand,category,actual_price,discount_price,rating,rating_count,price_category,popularity_score,discount_percent
14,Portable Bluetooth Speaker,OnePlus,Camera,25516.0,24050.0,1.7,16989.0,Premium,16.558646,5.745415
18,Portable Bluetooth Speaker,Sony,Monitor,73590.0,69414.0,3.8,9759.0,Premium,34.906981,5.674684
21,Wireless Bluetooth Headphones,Samsung,Speaker,78689.0,76240.0,2.9,10196.0,Premium,26.766562,3.112252
23,Portable Bluetooth Speaker,HP,Smartwatch,4342.0,4235.0,1.4,4820.0,Premium,11.873031,2.464302
25,Wireless Bluetooth Headphones,Boat,Monitor,14689.0,13286.0,3.7,1849.0,Premium,27.834881,9.551365
...,...,...,...,...,...,...,...,...,...,...
1969,Wireless Bluetooth Headphones,Samsung,Smartwatch,31973.0,27058.0,4.5,4288.0,Premium,37.637140,15.372345
1973,Wireless Bluetooth Headphones,Sony,Monitor,65124.0,61923.0,3.3,16581.0,Premium,32.063041,4.915239
1976,Wireless Bluetooth Headphones,HP,Camera,15343.0,10814.0,4.5,7851.0,Premium,40.358356,29.518347
1979,Wireless Bluetooth Headphones,Mi,Smartwatch,50527.0,45694.0,2.8,3692.0,Premium,22.999744,9.565183
1980,Portable Bluetooth Speaker,Samsung,Monitor,53328.0,52129.0,3.2,19467.0,Premium,31.604888,2.248350

In [120]:
p = df['popularity_score'].quantile(0.70)

f = df[
    (df['rating'] >= 4.0) &
    (df['discount_percent'].between(20, 50)) &
    (df['popularity_score'] >= p)
]

In [121]:
f

,title,brand,category,actual_price,discount_price,rating,rating_count,price_category,popularity_score,discount_percent
32,4K Action Camera,OnePlus,Smartphone,7793.0,5953.0,4.6,5066.0,Premium,39.240319,23.610933
94,Smart Fitness Watch,HP,Monitor,16289.0,12756.0,4.4,19798.0,Premium,43.530902,21.689484
107,High Resolution Monitor,JBL,Smartphone,7308.0,4789.0,4.3,19050.0,Premium,42.375962,34.469075
140,Gaming Laptop,Sony,Tablet,11869.0,8696.0,5.0,3124.0,Premium,40.235948,26.733507
162,Android Tablet,Apple,Speaker,11918.0,8193.0,4.6,14639.0,Premium,44.120959,31.255244
165,Wireless Bluetooth Headphones,Apple,Smartwatch,7654.0,4236.0,4.3,15314.0,Premium,41.437328,44.656389
188,Portable Bluetooth Speaker,LG,Smartphone,10227.0,5248.0,4.4,19440.0,Premium,43.450614,48.684854
215,Wireless Bluetooth Headphones,Apple,Camera,16855.0,12030.0,4.9,13597.0,Premium,46.636622,28.626520
274,Smartphone with AMOLED Display,Sony,Speaker,6770.0,5282.0,4.9,15245.0,Premium,47.197155,21.979321
403,Portable Bluetooth Speaker,Samsung,Laptop,14978.0,11330.0,4.4,14550.0,Premium,42.175826,24.355722
468,Android Tablet,Boat,Laptop,8287.0,5341.0,4.8,1565.0,Premium,35.310143,35.549656
479,Laptop with SSD Storage,HP,Monitor,366.0,256.2,4.6,12439.0,Budget,43.371893,30.000000
481,4K Action Camera,JBL,Camera,7833.0,4811.0,4.3,8408.0,Premium,38.859349,38.580365
488,Noise Cancelling Earbuds,LG,Speaker,13240.0,10137.0,4.2,17905.0,Premium,41.130143,23.436556
549,Smartphone with AMOLED Display,LG,Smartphone,11085.0,6690.0,4.6,19585.0,Premium,45.459823,39.648173
565,Smartphone with AMOLED Display,Sony,Tablet,13686.0,8725.0,4.9,3404.0,Premium,39.851701,36.248721
683,Portable Bluetooth Speaker,Boat,Tablet,11823.0,6970.0,4.5,3688.0,Premium,36.958998,41.047112
689,4K Action Camera,Samsung,Tablet,10700.0,7009.0,4.6,3029.0,Premium,36.875062,34.495327
702,Noise Cancelling Earbuds,Boat,Tablet,528.0,369.6,4.0,5375.0,Midrange,34.358800,30.000000
725,Portable Bluetooth Speaker,Dell,Smartwatch,7765.0,5047.0,4.9,13805.0,Premium,46.711007,35.003220
776,Smart Fitness Watch,Mi,Tablet,360.0,252.0,5.0,3075.0,Budget,40.156927,30.000000
843,High Resolution Monitor,HP,Smartphone,11660.0,9248.0,4.9,18547.0,Premium,48.157775,20.686106
849,Portable Bluetooth Speaker,Samsung,Smartwatch,19284.0,14650.0,4.9,18109.0,Premium,48.040676,24.030284
872,Laptop with SSD Storage,Apple,Smartwatch,4436.0,2614.0,4.9,18895.0,Premium,48.248857,41.073039
925,Smartphone with AMOLED Display,HP,Smartphone,453.0,317.1,4.1,12666.0,Budget,38.731697,30.000000
927,Wireless Bluetooth Headphones,Sony,Smartphone,12679.0,9027.0,4.8,7344.0,Premium,42.728520,28.803533
1007,Smartphone with AMOLED Display,Apple,Monitor,3389.0,2345.0,4.1,15442.0,Premium,39.544136,30.805547
1038,Gaming Laptop,OnePlus,Smartwatch,3540.0,2478.0,4.4,8938.0,Premium,40.031988,30.000000
1052,4K Action Camera,Dell,Laptop,2544.0,1780.8,4.6,9860.0,Premium,42.303177,30.000000
1055,Wireless Bluetooth Headphones,Sony,Camera,8821.0,6949.0,5.0,6618.0,Premium,43.988498,21.222084
1070,Wireless Bluetooth Headphones,HP,Smartphone,9627.0,5284.0,4.8,7434.0,Premium,42.786979,45.112704
1074,Smartphone with AMOLED Display,LG,Tablet,10792.0,6019.0,4.7,13558.0,Premium,44.719587,44.227205
1121,Smartphone with AMOLED Display,JBL,Headphones,17700.0,12706.0,4.6,7181.0,Premium,40.844933,28.214689
1149,Smart Fitness Watch,Sony,Smartphone,16992.0,12507.0,4.1,17509.0,Premium,40.059162,26.394774
1177,Portable Bluetooth Speaker,Dell,Camera,3959.0,2771.3,4.5,2606.0,Premium,35.396799,30.000000
1200,Portable Bluetooth Speaker,Samsung,Camera,21972.0,17127.0,4.5,19017.0,Premium,44.339135,22.050792
1381,High Resolution Monitor,LG,Speaker,3926.0,2643.0,4.6,7370.0,Premium,40.964420,32.679572
1394,High Resolution Monitor,Dell,Headphones,11025.0,8407.0,5.0,15958.0,Premium,48.388891,23.746032
1415,High Resolution Monitor,JBL,Tablet,11048.0,7854.0,4.5,9665.0,Premium,41.293664,28.910210
1482,Wireless Bluetooth Headphones,HP,Tablet,16498.0,12427.0,4.3,9941.0,Premium,39.579451,24.675718
1508,High Resolution Monitor,Samsung,Laptop,5770.0,4072.0,4.3,18680.0,Premium,42.291628,29.428076
1534,Wireless Bluetooth Headphones,Apple,Laptop,8361.0,4838.0,4.7,16220.0,Premium,45.562091,42.136108
1548,Smartphone with AMOLED Display,LG,Laptop,11567.0,7274.0,4.4,3951.0,Premium,36.440699,37.114204
1579,Noise Cancelling Earbuds,Boat,Smartwatch,4132.0,2659.0,4.3,16018.0,Premium,41.630582,35.648596
1662,Smartphone with AMOLED Display,Mi,Monitor,10667.0,5953.0,4.0,4238.0,Premium,33.408331,44.192369
1686,High Resolution Monitor,HP,Camera,2193.0,1535.1,4.5,12020.0,Premium,42.274847,30.000000
1709,4K Action Camera,HP,Monitor,12461.0,8641.0,4.8,14101.0,Premium,45.859545,30.655646
1722,Android Tablet,Samsung,Smartphone,15473.0,12114.0,4.0,15889.0,Premium,38.693781,21.708783
1755,Portable Bluetooth Speaker,Boat,Monitor,13216.0,8273.0,4.8,3358.0,Premium,38.973113,37.401634
1788,Noise Cancelling Earbuds,Apple,Tablet,11050.0,8067.0,4.8,19397.0,Premium,47.390041,26.995475
1888,Android Tablet,Samsung,Headphones,1432.0,1002.4,4.2,8027.0,Midrange,37.760901,30.000000
1920,Android Tablet,Dell,Speaker,11410.0,7148.0,4.2,3644.0,Premium,34.444669,37.353199
1961,Laptop with SSD Storage,Apple,Camera,374.0,261.8,4.1,13565.0,Budget,39.012820,30.000000
1976,Wireless Bluetooth Headphones,HP,Camera,15343.0,10814.0,4.5,7851.0,Premium,40.358356,29.518347

In [122]:
f.shape

(54, 10)