In [2]:
import pandas as pd

In [5]:
s = pd.Series([1,2,3,4,5,6],name = "s")

In [6]:
s

0    1
1    2
2    3
3    4
4    5
5    6
Name: s, dtype: int64

In [7]:
a = [2,3,4,5,6,7,8]
s1 = pd.Series(a,index =[2,3,4,5,6,7,8])

In [8]:
s1

2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

In [9]:
a_dict = {'1st': 1, '2nd':2,'3rd':3}
sd = pd.Series(a_dict)
sd

1st    1
2nd    2
3rd    3
dtype: int64

In [10]:
scores = [90,95,89,99,100,89,]
d = {'Cepha':99,'Amar':99,'Baba':97,'Balaram':98,'Bharath':98,'Dhanush':98,'CK':95,'Rajesh':96}

In [11]:
s2 = pd.Series(d)

In [12]:
s2["Cepha"]

99

In [13]:
s2['Amar']

99

In [14]:
s2 = s2 + 5

In [15]:
s2

Cepha      104
Amar       104
Baba       102
Balaram    103
Bharath    103
Dhanush    103
CK         100
Rajesh     101
dtype: int64

In [16]:
s2[s2>90]

Cepha      104
Amar       104
Baba       102
Balaram    103
Bharath    103
Dhanush    103
CK         100
Rajesh     101
dtype: int64

In [17]:
s2[s2>102]

Cepha      104
Amar       104
Balaram    103
Bharath    103
Dhanush    103
dtype: int64

In [22]:
s2.mean()

102.5

In [25]:
import numpy as np
arr = np.array([[25,85],[22,90],[26,99],[24,95]])

In [28]:
aa = pd.DataFrame(arr,index=['Siddhu1','Siddhu2','Siddhu3','Siddhu4'],columns=["age","marks"])

In [29]:
aa

         age  marks
Siddhu1   25     85
Siddhu2   22     90
Siddhu3   26     99
Siddhu4   24     95

In [30]:
aa.age

Siddhu1    25
Siddhu2    22
Siddhu3    26
Siddhu4    24
Name: age, dtype: int32

In [31]:
aa.marks

Siddhu1    85
Siddhu2    90
Siddhu3    99
Siddhu4    95
Name: marks, dtype: int32

In [32]:
aa.index

Index(['Siddhu1', 'Siddhu2', 'Siddhu3', 'Siddhu4'], dtype='object')

In [33]:
aa.columns

Index(['age', 'marks'], dtype='object')

In [34]:
di = {"Name":{"Siddhu":"Siddhartha","Amar":"Amarnath"},
      "Age": {"Siddhu":20,"Amar":20},
      "Marks":{"Siddhu":98,"Amar":99}}

In [35]:
df = pd.DataFrame(di)

In [36]:
df

              Name  Age  Marks
Siddhu  Siddhartha   20     98
Amar      Amarnath   20     99

In [41]:
dic = {"name": ["Amar","Siddhu"],
       "Age":[20,20],
       "Marks":[90,88]
      }
i = pd.DataFrame(dic,index = ["Amarnath","Siddhartha"])

In [42]:
pd.DataFrame(dic)

     name  Age  Marks
0    Amar   20     90
1  Siddhu   20     88

In [43]:
i

              name  Age  Marks
Amarnath      Amar   20     90
Siddhartha  Siddhu   20     88

In [44]:
i.values

array([['Amar', 20, 90],
       ['Siddhu', 20, 88]], dtype=object)

In [45]:
aa.values

array([[25, 85],
       [22, 90],
       [26, 99],
       [24, 95]])

In [46]:
df.values

array([['Siddhartha', 20, 98],
       ['Amarnath', 20, 99]], dtype=object)

In [47]:
ser1 = pd.Series(["cepha","amar","baba","siddhu"],index = ["Ce","Am","Ba","Si"])

In [48]:
ser2 = pd.Series([25,26,25,26],index = ["Ce","Am","Ba","Si"])
ser3 = pd.Series([85,90,80,89],index = ["Ce","Am","Ba","Si"])

In [88]:
x = {'name':ser1,'age':ser2,'marks':ser3}

In [89]:
df = pd.DataFrame(x)

In [90]:
df

      name  age  marks
Ce   cepha   25     85
Am    amar   26     90
Ba    baba   25     80
Si  siddhu   26     89

In [91]:
highest_marks = x['marks'].max()

In [92]:
highest_marks

90

In [93]:
top_student = df[df['marks'] == highest_marks]
print(top_student)

    name  age  marks
Am  amar   26     90

In [94]:
df.loc['ki'] = ['Kiran','21',20]

In [86]:
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [97]:
age_25 = df[df['age'].dtype]
print(age_25)

KeyError: dtype('O')

In [116]:
df = pd.read_csv('data.csv')

In [99]:
df.head()

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0

In [100]:
df = pd.read_csv(r"D:\PYTHON PROGRAMMING\Day-9(09-10-2025)\data.csv")

In [101]:
df.head()

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [117]:
df.isnull()

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [104]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [105]:
new_df = df.dropna()

In [108]:
print(new_df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [109]:
df.fillna(120,inplace = True)

In [110]:
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     120.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         120    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     120.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [118]:
x = df["Calories"].mean()
df.fillna({"Calories":x},inplace = True)

In [119]:
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130    409.10
1         60  2020/12/02    117       145    479.00
2         60  2020/12/03    103       135    340.00
3         45  2020/12/04    109       175    282.40
4         45  2020/12/05    117       148    406.00
5         60  2020/12/06    102       127    300.00
6         60  2020/12/07    110       136    374.00
7        450  2020/12/08    104       134    253.30
8         30  2020/12/09    109       133    195.10
9         60  2020/12/10     98       124    269.00
10        60  2020/12/11    103       147    329.30
11        60  2020/12/12    100       120    250.70
12        60  2020/12/12    100       120    250.70
13        60  2020/12/13    106       128    345.30
14        60  2020/12/14    104       132    379.30
15        60  2020/12/15     98       123    275.00
16        60  2020/12/16     98       120    215.20
17        60  2020/12/17    100       120    300.00
18        45  2020/12/18     90       112    304.68
19        60  2020/12/19    103       123    323.00
20        45  2020/12/20     97       125    243.00
21        60  2020/12/21    108       131    364.20
22        45         NaN    100       119    282.00
23        60  2020/12/23    130       101    300.00
24        45  2020/12/24    105       132    246.00
25        60  2020/12/25    102       126    334.50
26        60  2020/12/26    100       120    250.00
27        60  2020/12/27     92       118    241.00
28        60  2020/12/28    103       132    304.68
29        60  2020/12/29    100       132    280.00
30        60  2020/12/30    102       129    380.30
31        60  2020/12/31     92       115    243.00

In [133]:
df = pd.read_csv("data.csv")

In [121]:
x = df["Calories"].mode()[0]
df.fillna({"Calories":x},inplace = True)

In [122]:
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     300.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     300.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [123]:
df = pd.read_csv("data.csv")

In [124]:
x = df["Calories"].median()
df.fillna({"Calories":x},inplace = True)

In [125]:
df

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     291.2
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     291.2
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [129]:
df['Date'] = pd.to_datetime(df['Date'],format = 'mixed')

In [130]:
df.to_string()

'    Duration       Date  Pulse  Maxpulse  Calories\n0         60 2020-12-01    110       130     409.1\n1         60 2020-12-02    117       145     479.0\n2         60 2020-12-03    103       135     340.0\n3         45 2020-12-04    109       175     282.4\n4         45 2020-12-05    117       148     406.0\n5         60 2020-12-06    102       127     300.0\n6         60 2020-12-07    110       136     374.0\n7        450 2020-12-08    104       134     253.3\n8         30 2020-12-09    109       133     195.1\n9         60 2020-12-10     98       124     269.0\n10        60 2020-12-11    103       147     329.3\n11        60 2020-12-12    100       120     250.7\n12        60 2020-12-12    100       120     250.7\n13        60 2020-12-13    106       128     345.3\n14        60 2020-12-14    104       132     379.3\n15        60 2020-12-15     98       123     275.0\n16        60 2020-12-16     98       120     215.2\n17        60 2020-12-17    100       120     300.0\n18        45 2020-12-18     90       112     291.2\n19        60 2020-12-19    103       123     323.0\n20        45 2020-12-20     97       125     243.0\n21        60 2020-12-21    108       131     364.2\n22        45        NaT    100       119     282.0\n23        60 2020-12-23    130       101     300.0\n24        45 2020-12-24    105       132     246.0\n25        60 2020-12-25    102       126     334.5\n26        60 2020-12-26    100       120     250.0\n27        60 2020-12-27     92       118     241.0\n28        60 2020-12-28    103       132     291.2\n29        60 2020-12-29    100       132     280.0\n30        60 2020-12-30    102       129     380.3\n31        60 2020-12-31     92       115     243.0'

In [131]:
df.dropna(subset = ['Date'],inplace = True)

In [132]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [134]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [135]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [136]:
df.to_string()

'    Duration       Date  Pulse  Maxpulse  Calories\n0         60 2020-12-01    110       130     409.1\n1         60 2020-12-02    117       145     479.0\n2         60 2020-12-03    103       135     340.0\n3         45 2020-12-04    109       175     282.4\n4         45 2020-12-05    117       148     406.0\n5         60 2020-12-06    102       127     300.0\n6         60 2020-12-07    110       136     374.0\n7        450 2020-12-08    104       134     253.3\n8         30 2020-12-09    109       133     195.1\n9         60 2020-12-10     98       124     269.0\n10        60 2020-12-11    103       147     329.3\n11        60 2020-12-12    100       120     250.7\n12        60 2020-12-12    100       120     250.7\n13        60 2020-12-13    106       128     345.3\n14        60 2020-12-14    104       132     379.3\n15        60 2020-12-15     98       123     275.0\n16        60 2020-12-16     98       120     215.2\n17        60 2020-12-17    100       120     300.0\n18        45 2020-12-18     90       112       NaN\n19        60 2020-12-19    103       123     323.0\n20        45 2020-12-20     97       125     243.0\n21        60 2020-12-21    108       131     364.2\n22        45        NaT    100       119     282.0\n23        60 2020-12-23    130       101     300.0\n24        45 2020-12-24    105       132     246.0\n25        60 2020-12-25    102       126     334.5\n26        60 2020-12-26    100       120     250.0\n27        60 2020-12-27     92       118     241.0\n28        60 2020-12-28    103       132       NaN\n29        60 2020-12-29    100       132     280.0\n30        60 2020-12-30    102       129     380.3\n31        60 2020-12-31     92       115     243.0'

In [137]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [138]:
df.loc[7,'Duration'] = 45

In [139]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [140]:
for x in df.index:
    if df.loc[x,"Duration"]>120:
        df.loc[x,"Duration"] = 120

In [141]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [142]:
for x in df.index:
    if df.loc[x,"Duration"]>120:
        df.drop(x,inplace = True)

In [143]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [144]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [145]:
df.drop_duplicates(inplace = True)

In [146]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [147]:
high_pulse = df[df['Pulse'] > 110]
print(high_pulse)

    Duration       Date  Pulse  Maxpulse  Calories
1         60 2020-12-02    117       145     479.0
4         45 2020-12-05    117       148     406.0
23        60 2020-12-23    130       101     300.0

In [148]:
sorted_df = df.sort_values(by = 'Calories',ascending = False)

In [149]:
sorted_df

    Duration       Date  Pulse  Maxpulse  Calories
1         60 2020-12-02    117       145     479.0
0         60 2020-12-01    110       130     409.1
4         45 2020-12-05    117       148     406.0
30        60 2020-12-30    102       129     380.3
14        60 2020-12-14    104       132     379.3
6         60 2020-12-07    110       136     374.0
21        60 2020-12-21    108       131     364.2
13        60 2020-12-13    106       128     345.3
2         60 2020-12-03    103       135     340.0
25        60 2020-12-25    102       126     334.5
10        60 2020-12-11    103       147     329.3
19        60 2020-12-19    103       123     323.0
23        60 2020-12-23    130       101     300.0
5         60 2020-12-06    102       127     300.0
17        60 2020-12-17    100       120     300.0
3         45 2020-12-04    109       175     282.4
22        45        NaT    100       119     282.0
29        60 2020-12-29    100       132     280.0
15        60 2020-12-15     98       123     275.0
9         60 2020-12-10     98       124     269.0
7         45 2020-12-08    104       134     253.3
11        60 2020-12-12    100       120     250.7
26        60 2020-12-26    100       120     250.0
24        45 2020-12-24    105       132     246.0
20        45 2020-12-20     97       125     243.0
31        60 2020-12-31     92       115     243.0
27        60 2020-12-27     92       118     241.0
16        60 2020-12-16     98       120     215.2
8         30 2020-12-09    109       133     195.1
18        45 2020-12-18     90       112       NaN
28        60 2020-12-28    103       132       NaN

In [152]:
trainer_df = pd.DataFrame({
    'Date':['2020/12/01','2020/12/02','2020/12/03'],
    'Trainer': ['Alex','Jordan','Taylor']})

In [154]:
trainer_df['Date'] = pd.to_datetime(trainer_df['Date'])
 
# Now merge
merged_df = pd.merge(df, trainer_df, on='Date', how='left')
 
print(merged_df)

    Duration       Date  Pulse  Maxpulse  Calories Trainer
0         60 2020-12-01    110       130     409.1    Alex
1         60 2020-12-02    117       145     479.0  Jordan
2         60 2020-12-03    103       135     340.0  Taylor
3         45 2020-12-04    109       175     282.4     NaN
4         45 2020-12-05    117       148     406.0     NaN
5         60 2020-12-06    102       127     300.0     NaN
6         60 2020-12-07    110       136     374.0     NaN
7         45 2020-12-08    104       134     253.3     NaN
8         30 2020-12-09    109       133     195.1     NaN
9         60 2020-12-10     98       124     269.0     NaN
10        60 2020-12-11    103       147     329.3     NaN
11        60 2020-12-12    100       120     250.7     NaN
12        60 2020-12-13    106       128     345.3     NaN
13        60 2020-12-14    104       132     379.3     NaN
14        60 2020-12-15     98       123     275.0     NaN
15        60 2020-12-16     98       120     215.2     NaN
16        60 2020-12-17    100       120     300.0     NaN
17        45 2020-12-18     90       112       NaN     NaN
18        60 2020-12-19    103       123     323.0     NaN
19        45 2020-12-20     97       125     243.0     NaN
20        60 2020-12-21    108       131     364.2     NaN
21        45        NaT    100       119     282.0     NaN
22        60 2020-12-23    130       101     300.0     NaN
23        45 2020-12-24    105       132     246.0     NaN
24        60 2020-12-25    102       126     334.5     NaN
25        60 2020-12-26    100       120     250.0     NaN
26        60 2020-12-27     92       118     241.0     NaN
27        60 2020-12-28    103       132       NaN     NaN
28        60 2020-12-29    100       132     280.0     NaN
29        60 2020-12-30    102       129     380.3     NaN
30        60 2020-12-31     92       115     243.0     NaN

In [155]:
## Group by Duration and Calculate Average Calories

### Groups the dataset by the Duration column (i.e., how long each activity lasted).

### For each unique Duration, it computes the average Calories burned.

### Returns a Series with Duration as the index and average Calories as values.
 
 
# Group by Duration and get average Calories

avg_calories_by_duration = df.groupby('Duration')['Calories'].mean()
 
# Group by Pulse range (bucketed)

df['PulseRange'] = pd.cut(df['Pulse'], bins=[100, 110, 120, 130, 140, 150, 180])

grouped_stats = df.groupby('PulseRange', observed=False).agg({

    'Calories': 'mean',

    'Maxpulse': 'max'

})
 
print(grouped_stats)

            Calories  Maxpulse
PulseRange
(100, 110]    323.72     175.0
(110, 120]    442.50     148.0
(120, 130]    300.00     101.0
(130, 140]       NaN       NaN
(140, 150]       NaN       NaN
(150, 180]       NaN       NaN

In [156]:
df.corr()

TypeError: float() argument must be a string or a real number, not 'pandas._libs.interval.Interval'

In [158]:
df.shape

(31, 6)

In [159]:
df.describe

<bound method NDFrame.describe of     Duration       Date  Pulse  Maxpulse  Calories      PulseRange
0         60 2020-12-01    110       130     409.1  (100.0, 110.0]
1         60 2020-12-02    117       145     479.0  (110.0, 120.0]
2         60 2020-12-03    103       135     340.0  (100.0, 110.0]
3         45 2020-12-04    109       175     282.4  (100.0, 110.0]
4         45 2020-12-05    117       148     406.0  (110.0, 120.0]
5         60 2020-12-06    102       127     300.0  (100.0, 110.0]
6         60 2020-12-07    110       136     374.0  (100.0, 110.0]
7         45 2020-12-08    104       134     253.3  (100.0, 110.0]
8         30 2020-12-09    109       133     195.1  (100.0, 110.0]
9         60 2020-12-10     98       124     269.0             NaN
10        60 2020-12-11    103       147     329.3  (100.0, 110.0]
11        60 2020-12-12    100       120     250.7             NaN
13        60 2020-12-13    106       128     345.3  (100.0, 110.0]
14        60 2020-12-14    104       132     379.3  (100.0, 110.0]
15        60 2020-12-15     98       123     275.0             NaN
16        60 2020-12-16     98       120     215.2             NaN
17        60 2020-12-17    100       120     300.0             NaN
18        45 2020-12-18     90       112       NaN             NaN
19        60 2020-12-19    103       123     323.0  (100.0, 110.0]
20        45 2020-12-20     97       125     243.0             NaN
21        60 2020-12-21    108       131     364.2  (100.0, 110.0]
22        45        NaT    100       119     282.0             NaN
23        60 2020-12-23    130       101     300.0  (120.0, 130.0]
24        45 2020-12-24    105       132     246.0  (100.0, 110.0]
25        60 2020-12-25    102       126     334.5  (100.0, 110.0]
26        60 2020-12-26    100       120     250.0             NaN
27        60 2020-12-27     92       118     241.0             NaN
28        60 2020-12-28    103       132       NaN  (100.0, 110.0]
29        60 2020-12-29    100       132     280.0             NaN
30        60 2020-12-30    102       129     380.3  (100.0, 110.0]
31        60 2020-12-31     92       115     243.0             NaN>

In [160]:
df.rename(columns = {'Maxpulse':'Max_pulse'},inplace = True)

In [161]:
df

    Duration       Date  Pulse  Max_pulse  Calories      PulseRange
0         60 2020-12-01    110        130     409.1  (100.0, 110.0]
1         60 2020-12-02    117        145     479.0  (110.0, 120.0]
2         60 2020-12-03    103        135     340.0  (100.0, 110.0]
3         45 2020-12-04    109        175     282.4  (100.0, 110.0]
4         45 2020-12-05    117        148     406.0  (110.0, 120.0]
5         60 2020-12-06    102        127     300.0  (100.0, 110.0]
6         60 2020-12-07    110        136     374.0  (100.0, 110.0]
7         45 2020-12-08    104        134     253.3  (100.0, 110.0]
8         30 2020-12-09    109        133     195.1  (100.0, 110.0]
9         60 2020-12-10     98        124     269.0             NaN
10        60 2020-12-11    103        147     329.3  (100.0, 110.0]
11        60 2020-12-12    100        120     250.7             NaN
13        60 2020-12-13    106        128     345.3  (100.0, 110.0]
14        60 2020-12-14    104        132     379.3  (100.0, 110.0]
15        60 2020-12-15     98        123     275.0             NaN
16        60 2020-12-16     98        120     215.2             NaN
17        60 2020-12-17    100        120     300.0             NaN
18        45 2020-12-18     90        112       NaN             NaN
19        60 2020-12-19    103        123     323.0  (100.0, 110.0]
20        45 2020-12-20     97        125     243.0             NaN
21        60 2020-12-21    108        131     364.2  (100.0, 110.0]
22        45        NaT    100        119     282.0             NaN
23        60 2020-12-23    130        101     300.0  (120.0, 130.0]
24        45 2020-12-24    105        132     246.0  (100.0, 110.0]
25        60 2020-12-25    102        126     334.5  (100.0, 110.0]
26        60 2020-12-26    100        120     250.0             NaN
27        60 2020-12-27     92        118     241.0             NaN
28        60 2020-12-28    103        132       NaN  (100.0, 110.0]
29        60 2020-12-29    100        132     280.0             NaN
30        60 2020-12-30    102        129     380.3  (100.0, 110.0]
31        60 2020-12-31     92        115     243.0             NaN

In [163]:
merged_df['Trainer'].value_counts()

Trainer
Alex      1
Jordan    1
Taylor    1
Name: count, dtype: int64

In [165]:
merged_df['Trainer'] = merged_df['Trainer'].str.title()

In [166]:
merged_df

    Duration       Date  Pulse  Maxpulse  Calories Trainer
0         60 2020-12-01    110       130     409.1    Alex
1         60 2020-12-02    117       145     479.0  Jordan
2         60 2020-12-03    103       135     340.0  Taylor
3         45 2020-12-04    109       175     282.4     NaN
4         45 2020-12-05    117       148     406.0     NaN
5         60 2020-12-06    102       127     300.0     NaN
6         60 2020-12-07    110       136     374.0     NaN
7         45 2020-12-08    104       134     253.3     NaN
8         30 2020-12-09    109       133     195.1     NaN
9         60 2020-12-10     98       124     269.0     NaN
10        60 2020-12-11    103       147     329.3     NaN
11        60 2020-12-12    100       120     250.7     NaN
12        60 2020-12-13    106       128     345.3     NaN
13        60 2020-12-14    104       132     379.3     NaN
14        60 2020-12-15     98       123     275.0     NaN
15        60 2020-12-16     98       120     215.2     NaN
16        60 2020-12-17    100       120     300.0     NaN
17        45 2020-12-18     90       112       NaN     NaN
18        60 2020-12-19    103       123     323.0     NaN
19        45 2020-12-20     97       125     243.0     NaN
20        60 2020-12-21    108       131     364.2     NaN
21        45        NaT    100       119     282.0     NaN
22        60 2020-12-23    130       101     300.0     NaN
23        45 2020-12-24    105       132     246.0     NaN
24        60 2020-12-25    102       126     334.5     NaN
25        60 2020-12-26    100       120     250.0     NaN
26        60 2020-12-27     92       118     241.0     NaN
27        60 2020-12-28    103       132       NaN     NaN
28        60 2020-12-29    100       132     280.0     NaN
29        60 2020-12-30    102       129     380.3     NaN
30        60 2020-12-31     92       115     243.0     NaN

In [167]:
merged_df['Trainer'] = merged_df['Trainer'].str.upper()

In [168]:
merged_df

    Duration       Date  Pulse  Maxpulse  Calories Trainer
0         60 2020-12-01    110       130     409.1    ALEX
1         60 2020-12-02    117       145     479.0  JORDAN
2         60 2020-12-03    103       135     340.0  TAYLOR
3         45 2020-12-04    109       175     282.4     NaN
4         45 2020-12-05    117       148     406.0     NaN
5         60 2020-12-06    102       127     300.0     NaN
6         60 2020-12-07    110       136     374.0     NaN
7         45 2020-12-08    104       134     253.3     NaN
8         30 2020-12-09    109       133     195.1     NaN
9         60 2020-12-10     98       124     269.0     NaN
10        60 2020-12-11    103       147     329.3     NaN
11        60 2020-12-12    100       120     250.7     NaN
12        60 2020-12-13    106       128     345.3     NaN
13        60 2020-12-14    104       132     379.3     NaN
14        60 2020-12-15     98       123     275.0     NaN
15        60 2020-12-16     98       120     215.2     NaN
16        60 2020-12-17    100       120     300.0     NaN
17        45 2020-12-18     90       112       NaN     NaN
18        60 2020-12-19    103       123     323.0     NaN
19        45 2020-12-20     97       125     243.0     NaN
20        60 2020-12-21    108       131     364.2     NaN
21        45        NaT    100       119     282.0     NaN
22        60 2020-12-23    130       101     300.0     NaN
23        45 2020-12-24    105       132     246.0     NaN
24        60 2020-12-25    102       126     334.5     NaN
25        60 2020-12-26    100       120     250.0     NaN
26        60 2020-12-27     92       118     241.0     NaN
27        60 2020-12-28    103       132       NaN     NaN
28        60 2020-12-29    100       132     280.0     NaN
29        60 2020-12-30    102       129     380.3     NaN
30        60 2020-12-31     92       115     243.0     NaN

In [171]:
merged_df[merged_df['Trainer'].str.contains('JORDAN', na=False)]

   Duration       Date  Pulse  Maxpulse  Calories Trainer
1        60 2020-12-02    117       145     479.0  JORDAN